/* custom */
a{
    text-decoration: none;
}


/* 1st row header */

header {
    display: inline-block;
    position: relative;
}
header > div {
    display: inline-block;
    width: 30%;
    float: left;
    text-transform: uppercase;
    position: absolute;
    left: 20px;
    top:50%;
    transform: translateY(-50%);
}
header p:first-of-type {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
}
span {
    display: inline-block;
    color: #0009;
    font-size: 30px;
}
header p:last-of-type {
    color: #0004;
    letter-spacing: 1px;
    font-size: 14px;
}
header > nav {
    display: inline-block;
    width: 45%;
    float: right;
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);    
}
nav > a {
    width: 25%;
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #88898D;
    line-height: 35px;
}

@media (max-width: 800px) {
    header > #layout {
        width: 100%;
        position: static;
        transform: translateY(0);
        text-align: center; 
    }
}
@media (max-width: 700px) {
    nav > a {
        width: 100%;
        margin: 0;
        text-align: center; 
    }
    nav > button {
        width: 100px;
        margin: 0 calc(50% - 50px)
    }
}

/* 1st row header end */

/* 2nd row hero start */
.hero-container{
    background-image: url(../img/background-images/background-img.JPG);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.hero {
    text-align: center;
    color: var(--content-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
h1 {
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}
h1::after{
    content: '';
    display: inline-block;
    width: 45px;
    height: 5px;
    background-color: var(--content-color);
    position: absolute;
    bottom: -5%;
    left: 44%;
}
.hero p{
    line-height: 30px;
    color: #fff8;
    padding-top: 20px;
}
/* 2nd row hero end */

/* 3rd row 2 column start */
.column {
    width: 49%;
    display: inline-block;
    float: left;
    text-transform: capitalize;
}
.column:first-of-type {
    padding-left: 20px;
}
.column:last-of-type {
    float: right;
    padding-right: 20px;
}
h2 {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #3C3E4B;
}
.column p{
    color: var(--paragraph-color-on-grey-background);
    text-transform: initial;
    line-height: 1.5;
}
.column a {
    display: inline-block;
    text-transform: uppercase;
    color: #6FA2D1;
    font-weight: 500;
    margin-top: 30px;
}
.column a:hover {
    color: blue;
}
.background-color {
    background-color: #0001;
}

@media (max-width: 1000px) {
    .column {
        width: 100%;
        padding: 0 20px;
        
    }
    .h2{
        margin-top: 0;
    }
    .a {
        margin-bottom: 30px;
    }
}
/* 3rd row 2 column end */

/* 4th row 3 column start */
.margin-top {
    margin-top: 70px;
}
.column-row4 {
    display: inline-block;
    float: left;
    width: 27.3%;
    margin: 0px 3%;
    text-align: center;
}
@media (max-width: 1000px) {
    .column-row4 {
        width: 44%;
        padding: 0 20px;
        margin-bottom: 50px;  
    }
    .column-row4:nth-of-type(3) {
        margin-bottom: 0px;  
    }
    .column-row4:last-of-type {
        width: 100%;
        padding: 0 20px;  
    }
}
@media (max-width: 700px) {
    .column-row4 {
        width: 100%;
        padding: 0 20px;  
    }
}
h3{
    margin: 15px 0;
}
.column-row4 p {
    color: var(--paragraph-color-on-white-background);
    margin-bottom: 30px;
}
/* 4th row 3 column end */

/* 5th row video content 2 columns start */
.column-5th-row {
    display: inline-block;
    float: left;
    width: 48%;
    padding-right: 10px;
}
.column-5th-row:last-of-type {
    float: right;
    padding-left: 10px;
}
h4{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 20px;
}

.column-5th-row > p {
    color: var(--paragraph-color-on-grey-background);
}
video{
    display: inline-block;
    float: left;
}
@media (max-width: 1100px) {
    .column-5th-row:first-of-type {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    .column-5th-row:last-of-type {
        padding: 0 20px;
        width: 330px;
        margin: 0 calc(50% - 165px);
        margin-top: 30px;
    }


}
/* 5th row video content 2 columns end */

/* 6th row 2 column with form start */

.sixth-row-column1{
    display: inline-block;
    float: left;
    width: 60%;
    margin-top: 30px;
}

.sixth-row-column1 > div{
    display: inline-block;
    float: left;
    width: 100%;
    margin: 20px 0;
}
.img-column{
    display: inline-block;
    float: left;
    width: 10%;
    height: 100px;
    margin-right: 15%;
    text-align: center;
    position: relative;
}
.img-column > img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.text-column {
    float: left;
    display: inline-block;
    width: 75%;
}


h5{
    margin-bottom: 20px;
    font-size: 20px;
}
.sixth-row-column1 p{
    line-height: 25px;
    color: var(--paragraph-color-on-white-background);
}

.sixth-row-column2{
    display: inline-block;
    float: right;
    width: 35%;
    margin-left: 3%;
    
}
.sixth-row-column2>div:first-of-type{
    padding: 0 20px;
}
.sixth-row-column2 h5{
    padding-top: 40px;
}
input {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    margin: 10px 0;
    border: none;
}
input:focus{
    outline: none;
}
.sixth-row-column2 > h5 {
    margin-top: 45px;
}
.sixth-row-column2  p {
    font-size: 15px;
    margin: 20px 0;
    color: var(--paragraph-color-on-grey-background);
}
.div-p-note{
    display: inline-block;
    width: 100%;
    background-color: #ddd;
}
#p{
    font-size: 13px;
    text-align: center;
}
@media (max-width: 1100px){
    
    .sixth-row-column1{
        width: 700px;
        margin: 0 calc(50% - 350px);
    }
    .img-column{
        margin-left: 0;
        margin-right: 3%;
        width: 10%;
    }
    .img-column > img{
        position: static;
        top: 0;
        left: 0;
        transform: translateY(0%);
    }

    .text-column {
        width: 87%;
    }
    .sixth-row-column2{
        width: 300px;
        margin: 0 calc(50% - 150px);
        margin-top: 50px;  
    }
}
@media (max-width: 900px){
    .sixth-row-column1{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    .text-column {
        width: 82%;
    }
    .img-column{
        margin-left: 0;
        margin-right: 8%;
        width: 10%;
    }
}
@media (max-width: 700px){
    .text-column {
        width: 100%;
    }
    
}
@media (max-width: 400px){
    .img-column{
        margin-right: 0;
        width: 100%;
    }
    
}
/* 6th row 2 column with form end */

/* 7th logo row start */

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1000px) {
    .flex-box{
        display: inline-block;
    }
    .logo-group1 {
        display: inline-block;
        width: 34%;
        margin: 0 2%;
        float: left;
        object-fit: none;
        height: 100px;
    }
    .logo-group1:nth-of-type(1) {
        width: 18%;
        margin-left: 0;
    }
    .logo-group2 {
        display: inline-block;
        width: 21%;
        margin: 0 2%;
        float: left;
        object-fit: none;
        height: 100px;
    }
}

@media (max-width: 700px) {
    .row .logo-group1 {
        width: 100%;
        margin: 0;
    }
    .logo-group2 {
        width: 100%;
        margin: 0;
    }
}


/* 7th logo row start */


/* 8th row changing quotes start */
.height {
    height: 300px;
}
.background-color-qoute-section{
    background-color: #59A3FC;
}
/* 8th row changing quotes end */


